// 以下皆是設定 大字型時的調整
// bigword
.large_size{
    .block03{
        .news{
            ul {
                li {
                    height: 110px;
                    @media(max-width: 1199px) and (min-width: 992px) {
                        height: 120px;
                    }
                    @include screen('tablet') {
                        height: 105px;
                    }
                    @include screen('mobile') {
                        height: auto;

                    }
                    a {
                        display: block;
                        padding: 6px 0 6px 96px;
                        line-height: 150%;
                        height: calc(25px * 3);
                        @include screen('mobile'){
                            padding: 6px 0 12px 96px;
                        }
                        span {
                            margin-left: -96px;
                        }
                    }
                }
            }
        }
    }
}